:root {
  --primary-text-color:color: #212121;
  --p-section-color: #757575;
  --hover-color: #2196f3;
  --background-color:#2f303a;
  --sometitle-color:white;
}
body {
  font-family: Roboto, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color:var(--primary-text-color);
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.head-title,
a {
  text-decoration: none;
}

/* Шапка */

.header-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: black;
}
.web-title {
  color: var(--hover-color)
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--hover-color)
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color)
}
/* Контакты */
.contacts .contacts-head:hover,
.contacts .contacts-head:focus {
  color: var(--hover-color)
}
.contacts .contacts-head {
  color: var(--p-section-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
/* Большая маленькая секция */
.button-primary {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
width: 200px;
height: 50px;
left: 529px;
top: 415px;
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--sometitle-color);
 cursor: pointer
}

.huge-section {
  background-color: var(--background-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--sometitle-color);
}
/* 4 Блока */
.block-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
}
.description {
  color: #757575;
}
/*  Секция Что мы делаем чим занимаемся */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Секция Наша команда и должность */
.crew-section {
  background-color: #f5f4fa;
}
.crew-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
}
.position {
  font-size: 16px;
  color: #757575;
}
/* ФУТЕР */
.foot-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--sometitle-color);
}
.footer {
  background-color: var(--background-color);
}
.contacts-footer .contacts-down {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .contacts-down:hover,
.contacts-footer .contacts-down:focus {
  color: var(--hover-color);
}
.contacts-footer .adress {
  color: var(--sometitle-color);
}
