body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.head-title,
a {
  text-decoration: none;
}

/* Шапка */
.header-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: black;
}
.web-title {
  color: #2196f3;
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: #2196f3;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* Контакты */
.contacts .contacts-head:hover,
.contacts .contacts-head:focus {
  color: #2196f3;
}
.contacts .contacts-head {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* Большая маленькая секция */
.button-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}
.huge-section {
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: white;
}
/* 4 Блока */
.block-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.description {
  color: #757575;
}
/*  Секция Что мы делаем чим занимаемся */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
/* Секция Наша команда и должность */
.crew-section {
  background-color: #f5f4fa;
}
.crew-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.position {
  color: #757575;
}
/* ФУТЕР */
.foot-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: white;
}
.footer {
  background-color: #2f303a;
}
.contacts-footer .contacts-down {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .contacts-down:hover,
.contacts-footer .contacts-down:focus {
  color: #2196f3;
}
.contacts-footer .adress {
  color: white;
}
